@mixin card-hover {
    transition: transform 0.3s;
    &:hover {
        transform: translateY(-5px);
        background-color: $color-hover;
    }
}


.place-card {
    @include card-hover;

    &__name {
        font-weight: 600;
    }

    &__temp {
        font-size: 1.1rem;
    }

    &--detail {
        border-left: 4px solid $color-primary;
    }
}


.btn-custom {
    background-color: $color-primary;
    color: white;
}